[submodule "emacs.d/vendor/web-mode"]
	path = emacs.d/vendor/web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule "emacs.d/vendor/golden-ratio"]
	path = emacs.d/vendor/golden-ratio
	url = https://github.com/roman/golden-ratio.el.git
[submodule "emacs.d/vendor/markdown-mode"]
	path = emacs.d/vendor/markdown-mode
	url = https://github.com/defunkt/markdown-mode.git
